<html>
<head>
    <include file="./Public/weui2.0/__head.html"/>
</head>

  <body ontouchstart="">

    <div class="weui-msg">
      <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
      <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">提示</h2>
        <p class="weui-msg__desc">这是最后一题</p>
      </div>
      <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
          <a href="{:U('User/index',array('openId'=>session('openId')))}" class="weui-btn weui-btn_primary" style="background-color: #4bc2ff;">返回主页面</a>
        </p>
  <include file="./Public/weui2.0/__head.html"/>
    

  

</body></html>