<!DOCTYPE html>
<html>
  <head>
    <include file="./Public/html/_head.html"/>
    <style>
      [class*="weui-col-"] {
        border: 1px solid #ccc;
        height: 40px;
        line-height: 40px;
        text-align: center;
      }

    </style>
  </head>
  <body ontouchstart>
    <include file="./Public/html/_refresh.html"/>
    <header class='demos-header'>
      <h1 class="demos-title">签到记录</h1>
    </header>

   
    <div class="weui_cells_title">已签到列表<a id="signinSite" href="javascript:;" class="weui_btn weui_btn_mini weui_btn_primary" style="float:right;margin-bottom:.1em;line-height: 1.5">签到地点</a></div>

    <div class="weui-row weui-no-gutter">
      <div class="weui-col-25">序号</div>
      <div class="weui-col-25">姓名</div>
      <div class="weui-col-50">签到时间</div>
    </div>
    <volist name="signinList" id="signinList" key="k" empty="没有签到信息">
      <div class="weui-row weui-no-gutter">
        <div class="weui-col-25">{$k}</div>
        <div class="weui-col-25">{$signinList.name}</div>
        <div class="weui-col-50">{$signinList.time}</div>
      </div>
    </volist>
  </body>
</html>
<include file="./Public/html/_foot.html"/>
<include file="./Public/html/_refreshJs.html"/>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  wx.config({
      debug: false,
      appId: '{$signPackage.appId}',
      timestamp: {$signPackage.timestamp},
      nonceStr: '{$signPackage.nonceStr}',
      signature: '{$signPackage.signature}',
      jsApiList: [
        'openLocation',
      ]
  });

  //点击签到地点按钮
  $('#signinSite').click(function(){
    wx.ready(function(){
        wx.openLocation({
          latitude:{$signinInfo.latitude},
          longitude:{$signinInfo.longitude},
          name:"浙江工商大学(下沙校区)",
          address:"{$signinInfo.Name},签到时间:{$signinInfo.time|substr=11,5} -- {$signinInfo.deadtime|substr=11,5}"
        });
    });
  });
  

</script>