<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
    <form action="{:U('Qyh/upload')}" method="post" enctype="mutipart/form-data">
         
            
              
              <input type="file" name="photo[]">
              <input type="file" name="photo[]">
              <input type="file" name="photo[]">
              <input type="file" name="photo[]">
              <input type="file" name="photo[]">
              <input type="file" name="photo[]">
              
            <input type="submit">提交 
    </form>
</body>
</html>