<!-- 随堂测试，测试题目 -->
<!DOCTYPE html>
<html>
  <head>
    <include file="./Public/html/_head.html"/>

    <style>
      #all{
        margin:0px auto;
        text-align: center;        
      }
      a{
        font-size: 30px;
      }
</style>
  </head>

  <body id="all">
    
    <header class='demos-header'>
      <h1 class="demos-title">模拟测试</h1>
    </header>

    <font face="黑体" color="red">
    模拟测试时间为1小时<br/>
    共100道题目，90分以上为通过 

    </font>
      <div style="margin-top:80px"></div>
      <div class="footer">
        <div >
          <a class="button white" href="{:U('Simulate/simulate')}">开始测试</a>
        </div>
      </div>    

  </body>
</html>
<include file="./Public/html/_foot.html"/>
<include file="./Public/html/_refreshJs.html"/>
<script>
