<!DOCTYPE html>
<html>
  <head>
    <include file="./Public/html/_head.html"/>

    <style>
      #all{
        margin:0px auto;
        text-align: center;        
      }
      a{
        font-size: 25px;
      }
</style>
  </head>

  <body id="all">
    
    <header class='demos-header'>
      <h1 class="demos-title">错题回顾</h1>
    </header>

    <font face="黑体" color="#9d9d9d">
      错过 上天都有过错<br/>
      创造悲欢离合 要我们承担结果
    </font>
      <div style="margin-top:80px"></div>
      <div class="footer">
        <div >
          <a class="button white" href="{:U('Review/review')}">重新来过</a>
        </div>
      </div>    

  </body>
</html>
<include file="./Public/html/_foot.html"/>
<include file="./Public/html/_refreshJs.html"/>
<script>
