<!DOCTYPE html>
<html>
  <head>
    <include file="./Public/html/_head.html"/>
    <!-- <script src="__PUBLIC__/js/alertMsg.js"></script>-->
    <link rel="stylesheet" href="__PUBLIC__/css/alertMsg.css">
    <script language="JavaScript"> 

      alert("众人皆醉你独醒");history.go(-2);

    </script>

    <style>
      #all{
        margin:0px auto;
        text-align: center;        
      }
      a{
        font-size: 25px;
      }
    </style>

  </head>

  <body id="all">
    
<!--     <header class='demos-header'>
      <h1 class="demos-title">成绩与排名详情</h1>
    </header>

    <font face="黑体" color="red">()</font>
      <div style="margin-top:80px"></div>
      <div class="footer">
        <div >
          <a class="button white" href="{:U('Rank/rankMenu')}">查看成绩</a>
        </div>
      </div>  -->   

  </body>
</html>
<include file="./Public/html/_foot.html"/>
<include file="./Public/html/_refreshJs.html"/>

