<!DOCTYPE html>
<html>
 <head>
  <include file="./Public/html/_head.html"/>
 </head>
 <body ontouchstart="">
  <include file="./Public/html/_refresh.html"/>
  <header class="demos-header"> 
   <h1 class="demos-title">成绩与排名详情</h1>
  </header> 
  <div class="weui_cells_title">查看成绩与排名</div>
  <div class="weui_cells weui_cells_access">
    <a class="weui_cell" href="{:U('rankDetails')}">
      <div class="weui_cell_bd weui_cell_primary">
        <p>我</p>
      </div> 
      <div class="weui_cell_ft"></div>
    </a>
    <a class="weui_cell" href="{:U('rankClass')}">
      <div class="weui_cell_bd weui_cell_primary">
        <p>班级成绩与排名</p>
      </div>
      <div class="weui_cell_ft"></div>
    </a>
    <a class="weui_cell" href="{:U('rankSchool')}">
      <div class="weui_cell_bd weui_cell_primary">
        <p>学校成绩与排名</p>
      </div>
      <div class="weui_cell_ft"></div>
    </a>  
<!--     <a class="weui_cell" href="{:U('rankSchool_exercise')}">
      <div class="weui_cell_bd weui_cell_primary">
        <p>随机练习学校排名</p>
      </div>
      <div class="weui_cell_ft"></div>
    </a>   -->       
  </div>
 </body>
</html>
<include file="./Public/html/_foot.html"/>
<include file="./Public/html/_refreshJs.html"/>
