
            <div class="aright">
                <div class="aright_1">
                    <blockquote style="padding: 10px;border-left: 5px solid #FF5722;" class="layui-elem-quote">系统信息：</blockquote>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td width="110px">程序版本</td>
                                <td>浙江工商大学新生考试平台后台系统</td>
                            </tr>
                            <tr>
                                <td>服务器类型</td>
                                <td>Windows NT</td></tr>
                            <tr>
                                <td>PHP版本</td>
                                <td>5.5.1</td></tr>
                            <tr>
                                <td>Zend版本</td>
                                <td>2.5.0</td></tr>
                            <tr>
                                <td>服务器解译引擎</td>
                                <td>Apache/2.4.4 (Win32) OpenSSL/1.0.1e PHP/5.5.1</td></tr>
                            <tr>
                                <td>服务器语言</td>
                                <td>zh-CN,zh;q=0.8</td></tr>
                            <tr>
                                <td>服务器Web端口</td>
                                <td>89</td></tr>
                        </tbody>
                    </table>
                    <blockquote style="padding: 10px;border-left: 5px solid #FF5722;" class="layui-elem-quote">开发团队：</blockquote>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td width="110px">版权所有</td>
                                <td>浙江工商大学学生处所有权利</td></tr>
                            <tr>
                                <td>感谢贡献者</td>
                                <td>Thinkphp，Layer，李俊君，蔡佳琪，陈伟昌，黄桢洢，诸葛老师</td></tr>
                            <tr>
                                <td>特别提醒您</td>
                                <td>本程序均可免费下载使用，但严禁删除、隐藏或更改版权信息，且导致的一切损失由使用者自行承担。</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
      