<!DOCTYPE html>
<html>
  <head>
    <include file="./Public/html/_head.html"/>

    <style>
      #all{
        margin:0px auto;
        text-align: center;        
      }
      a{
        font-size: 25px;
      }
</style>

  <script language="JavaScript"> alert("还未开放");history.go(-1);</script>
  </head>

  <body id="all">


    
    <header class='demos-header'>
      <h1 class="demos-title">随堂测试</h1>
    </header>

    <font face="黑体" color="red">()</font>
      <div style="margin-top:80px"></div>
      <div class="footer">
        <div >
          <a class="button white" href="{:U('Test/testList')}">进入测试</a>
        </div>
      </div>    

  </body>
</html>
<include file="./Public/html/_foot.html"/>
<include file="./Public/html/_refreshJs.html"/>
<script>
