*{ padding: 0px; margin: 0px;}
body{ font-size: 14px; font-family: "微软雅黑";}
ul{ padding: 0px; margin: 0px;}
li{ list-style-type: none;}
a{text-decoration: none;}
.title{ height: 45px; line-height: 45px; text-align: center; background: #c6010f; color: #fff; font-size: 18px; overflow: hidden;}
.content{ margin: 0 20px 40px 20px;}
.c-title{ font-size: 20px; line-height: 40px; color: #333;}
.c-time{ color: #656565; border-bottom: 1px solid #ddd; font-size: 12px;}
.c-pic{ width: 100%; display: block; margin: 15px 0;}
.c-join{ color: #666; line-height: 30px;}
.c-table{border-bottom:0;}
.c-table p{border-bottom: 1px solid #ddd; height: 51px; line-height: 51px; padding-left: 15px; color: #666;}
.c-tablepic{ width: 57px; height: 35px;  float: left; margin-top: 8px; margin-right: 8px;}
.c-select {float: left; margin-top: 20px; margin-right: 10px;}
.c-introduce p{ text-indent: 24px; color: #666; font-size: 13px; line-height: 20px;}
.c-inline{ width:20%; height: 10px; background: #cfcfcf; float: left; font-style: normal; margin-top: 20px;}
.c-table span{ display: block; font-size: 14px;}
.c-many{ margin-left: 10px;}
.c-button{height: 42px; color: #fff; background: #4bc2ff; text-align: center; display: block; line-height: 42px; margin-top: 15px; border-radius: 5px;}
.skillbar-bar{ height:10px; float:left; display:block;}
.skillbar {
position: relative;
float:left;
width: 20%;
background: #eee;
height: 10px;
margin-top:20px;
}
.skill-bar-percent{ float:left; margin-left:8px;}
.icon {width: 25px; height: 25px; float: left; margin-top: 13px; margin-right: 11px; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }
.option-area {color: #000; }
.option-contents {display: block; margin-left: 40px; padding: 13px 10px 13px 0; line-height: 25px; } 
.weui-badge {display: inline-block; padding: .15em .4em; min-width: 8px; border-radius: 18px; background-color: #4bc2ff; color: #fff; line-height: 1.2; text-align: center; font-size: 12px; vertical-align: middle; } 

/*progress*/
ul li { list-style-type: none; width: 23%; display: inline-block; text-align: center;} 
.icon_progress { width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden; margin-right: 6px} 
.title-progerss {border-bottom:1px  solid #ddd; padding-bottom: 5px;}

/*question Item index*/
.placeholder {width:30px; height:30px; border-radius:30px; border:1px solid #4bc2ff; line-height: 30px; text-align: center; margin: auto;}
.weui-flex { padding-top: 5px;height: 40px;}
.helf-title {line-height: 2.2rem; font-size: 14px;text-align: center; margin: 0 20px;}

/*progress 未做的题目*/
.placeholder {width:30px; height:30px; border-radius:30px; border:1px solid #c5c3c3; line-height: 30px; text-align: center; margin: auto; color: #353535;}
/*progeress 做对的题目*/
.placeholder-right {width:30px; height:30px; border-radius:30px; border:1px solid #4bc2ff; line-height: 30px; text-align: center; margin: auto; color: #353535; background-color: rgb(231, 247, 253);}
/*progeress 做错的题目*/
.placeholder-wrong {width:30px; height:30px; border-radius:30px; border:1px solid rgba(250, 194, 194, 1); line-height: 30px; text-align: center; margin: auto; color: #353535; background-color: rgba(252, 232, 232, 1);}
/*progeress 正在做的题目*/			
.placeholder-doing-now {width:30px; height:30px; border-radius:30px; border:1px solid #b9b9c1; line-height: 30px; text-align: center; margin: auto; color: #353535; background-color: #b9b9c1;}

.weui-flex { padding-top: 5px;height: 40px;}
.helf-title {line-height: 2.2rem; font-size: 14px;text-align: center; margin: 0 20px;}
.title-progerss {border-bottom:1px  solid #ddd; padding-bottom: 5px;}
.weui-popup__modal {color: #000;}