<!DOCTYPE html>
<html>
  <head>
    <include file="./Public/html/_head.html"/>
  </head>
  <body ontouchstart>
      <header class='demos-header'>
        <h2 class="demos-title">平台说明</h2>
        <p class="demos-sub-title">By 李俊君 @2016/07/23</p>
      </header>
      <article class="weui_article">
        <section>
          <h2 class="title">平台信息</h2>
          <section>
            <h3>1.1 平台名称</h3>
            <p>计算机网络教学互动平台。</p>
          </section>
          <section>
            <h3>1.2 使用对象</h3>
            <p>计算机网络授课教师、学生。相关有使用需求的教师(可另行搭建平台)。需要平台相关资料的师生。对平台、对本项目感兴趣关心的支持者。</p>
          </section>
          <section>
            <h3>1.3 使用场景</h3>
            <p>大学课堂。</p>
          </section>
          <section>
            <h3>1.4 运行模式</h3>
            <p>以移动终端为依托，以微信公众号为窗口，以新浪云计算平台服务器后台。</p>
          </section>
          <section>
            <h3>1.5 使用框架</h3>
            <p>以jquery weui为前端框架，thinkPHP为后台框架。</p>
          </section>
          <section>
            <h3>1.6 开发环境</h3>
            <p>本平台采用LAMP开放平台、OOP编程构架、MVC设计模式。</p>
          </section>
        </section>
        <section>
          <h2 class="title">使用帮助</h2>
          <section>
            <h3>2.1 发送1：我的信息</h3>
            <p>我的信息包括查看信息和注册信息。</p>
            <p>当你是注册用户时，点击进入可查看个人信息。个人信息包括姓名、班级、学号、积分(不可修改)。当未注册时，点击进入注册界面。注册信息要求用户输入 姓名、学号、班级。点击可完成注册。</p>
          </section>
          <section>
            <h3>2.2 发送2：资料下载</h3>
            <p>资料下载可以包括：教师的ppt，课后习题答案，浙江工商大学历年考试试卷，历年来的数学考研真题试卷。该功能对未注册用户开放。</p>
          </section>
          <section>
            <h3>2.3 发送3：课后作业</h3>
            <p>教师在在平台上布置课后作业，学生可以在平台上看到作业详情，然后在作业本上完成作业，再用手机拍照上传作业照片，教师可以在手机上批改作业，同时，学生教师均可以查看作业上传内容。该功能对未注册用户不开放。</p>
          </section>
          <section>
            <h3>2.4 发送4：课堂签到</h3>
            <p>教师在在在课堂上发布一次签到，学生可以在平台上看到签到信息，然后在点击签到按钮，便可完成签到。同时，学生教师均可以查看签到信息。该功能对未注册用户不开放。</p>
          </section>
          <section>
            <h3>2.5 发送5：随堂测试</h3>
            <p>教师在课堂上发布一次签到，学生可以在平台上看到随堂测试信息，学生可以在手机端完成随堂测试。同时，学生教师均可以查看测试详情、试题分析。该功能对未注册用户不开放。</p>
          </section>
          <section>
            <h3>2.6 发送6：自由练习</h3>
            <p>自由练习模块是学生利用课余时间自行练习知识点的功能。学生可在此功能模块下随机答题，遇到不会的可以跳过，做完题目之后，可查看解析。</p>
          </section>
          <section>
            <h3>2.7 发送7：平台互动</h3>
            <p>平台互动模块是学生、教师可交流的模块。师生可以这里进行留言发帖、相互交流。</p>
          </section>
          <section>
            <h3>2.8 发送？：使用菜单</h3>
            <p>发送？，平台会回复默认使用菜单信息。用户点击对应连接进入对应功能。该功能对未注册用户不开放。</p>
          </section>
        </section>
        <section>
          <h2 class="title">特别感谢</h2>
          <section>
            <h3>3.1 资金支持</h3>
            <p>特别感谢国创项目组提供的立项资金支持、特别感谢浙江省新苗计划提供的立项资金支持、特别感谢浙江工商大学校创提供的立项资金支持。</p>
          </section>
          <section>
            <h3>3.2 导师关心</h3>
            <p>特别感谢浙江工商大学信息与电子工程学院诸葛斌教授的项目指导和项目经费支持、特别感谢浙江工商大学数学与统计学院洪金珠老师的项目指导和软件首试。</p>
          </section>
          <section>
            <h3>3.3 师兄指导</h3>
            <p>特别感谢浙江工商大学信息与电子工程学院15级研究生傅学长、朱学长提供的技术指导。</p>
          </section>
          <section>
            <h3>3.4 团队成员</h3>
            <p>特别感谢来自于信电学院、工商管理学院、财会学院、信息学院的国创团队成员、新苗团队成员的合作参与。</p>
          </section>
        </section>
      </article>
  </body>
</html>